*{
    font-family: 'Quicksand', sans-serif;
}

.container{
    background-color: #F5F8F7;
    height: 100vh;
}

input[type="text"]{
  padding: 5px!important;
  /* border-left: none; */
  /* border-right: none; */
  border-top: none; 
  margin: 5px 0 10px 0;
  /* border: none; */
  /* background: #f1f1f1; */
}


input[type="text"]:focus{
  /* background-color: #F5F8F7; */
  outline: none;
}
